/* Primary */
/* More color */

.btn-primary {
  border: 2px solid #1aa7ec;
  outline: none;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #fff;
  color: #1aa7ec;
  font-weight: 600;
  font-size: 1.2rem;
}
.btn-primary:hover {
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1aa7ec;
    color: #fff;
  }