/* Primary */
$primary-color: #0000ff;
$akua-color: #00ffff;
$depsky-blue: #00bfff;
$sky-blue: #87ceeb;
$medium-blue: #0000cd;
$picton-blue: #1aa7ec;
$viking: #4adede;
$jacksons-purple: #1e2f97;
$cornflowers-blue: #797ef6;

/* More color */
$text-color-dark: #333;
$text-color-light: #fff;
$bg-color-light: #f5f5f5;
$bg-color-dark: #eee;
